<ng-template #projectModal let-modal let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      {{ id ? "Actualizar projecto" : "Crear projecto" }}
    </h4>

    <button type="button" class="close" aria-label="Close" (click)="d('close-supplier-modal')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <section class="supplier-form">
    <div class="modal-body" (keydown.enter)="onSubmit()">
      <form [formGroup]="form" novalidate *ngIf="form">
        <div class="row">
          <app-input class="col" labelTxt="Título" formControlName="title" [submitted]="submitted"
            [labelStyle]="{ 'color': 'black'}"></app-input>
          <app-select formControlName="client_id" [multiple]="false" labelTxt="Cliente" placeholder="Cliente"
            bindValue="id" bindLabel="name" [items]="clients" [submitted]="submitted"></app-select>
          <app-select formControlName="user_ids" [multiple]="true" labelTxt="Usuarios que pueden ver y añadir tareas"
            placeholder="Usuarios que pueden ver y añadir tareas" bindValue="id" bindLabel="name" [items]="users"
            [submitted]="submitted"></app-select>
        </div>
      </form>
    </div>
  </section>

  <div class="modal-footer">
    <button class="m-2" mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
    <button mat-raised-button color="warn" (click)="d('close-supplier-modal')"> Cancelar</button>
  </div>
</ng-template>
