
<div class="wrapper">
  <div class="sidebar" *ngIf="currentUser">
      <h2>TM</h2>
      <ul>
          <li><a routerLink="/home"><i class="fas fa-home"></i>Inicio</a></li>
          <li><a routerLink="/projects"><i class="fas fa-user"></i>Proyectos</a></li>
          <li><a routerLink=""><i class="fas fa-address-book"></i>Mis tareas</a></li>
          <li><a routerLink="/users"><i class="fas fa-address-card"></i>Usuarios</a></li>
          <li><a routerLink="/companies"><i class="fas fa-project-diagram"></i>Clientes</a></li>
          <li><a routerLink="/reports"><i class="fas fa-blog"></i>Reportes</a></li>
       
      </ul> 
      <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="main_content">
      <div class="header" *ngIf="currentUser">Bienvenido</div>  
      <div class="info">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>


